footer{

  bottom: 0;
  width:100%;
  z-index: 100;
}

.absolute{
  position: fixed;
}

#cardlector{
  padding: 0px;
}

.image-upload > input
{
    display: none;
}

.ges{
  display: block;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.card-title{
  padding: 2px;
  text-align: center;
}
/* ============== FONTS ============== */
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Bold.woff');
    font-weight: 'bold';
  }

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.woff');
    font-weight: 'normal';
  }
