{% extends 'base.html' %}
{% block content %}
<div class="row">

  <div class="col s12 m8">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Informes</span>

        <table>
               <thead>
                 <tr>
                     <th>Estación</th>
                     <th>Estado</th>
                     <th>Fecha</th>
                     <th>Foto</th>
                 </tr>
               </thead>

               <tbody>
                 {% for informe in informes %}
                 <tr>
                   <td>{{informe.estacion_reporte}}</td>
                   <td>{{informe.estado_reporte}}</td>
                   <td>{{informe.fecha_reporte}}</td>
                   <td><img class="materialboxed" width="20" src={{informe.url_imagen_reporte[1:]}} /></td>
                 </tr>
                 {%endfor%}
               </tbody>
             </table>
      </div>
      <div class="card-action"></div>
    </div>
  </div>
  <div class="col s12 m4">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <form>
            <div class="card-content">
              <span class="card-title">Nuevo Contenedor</span>
              <input name="csrf_token" type="Hidden" value="{{csrf_token()}}">
              <label for="id_content">ID</label>
              <input class="validate" id="id_content" name="id" placeholder="Id Contenedor" type="text" pattern="[A-Za-z0-9]{1,100}">

              <label for="textarea1">Descripción</label>
              <textarea id="textarea1" class="materialize-textarea" name="descripcion"></textarea>

            </div>
            <div class="card-action">
              <input class="btn waves-effect waves-light" id="crear_contenedor" type="submit" value="CREAR">

            </div>
          </form>

        </div>
      <div class="col s12">

        <div class="card">
            <div class="card-content">
              <span class="card-title">Contenedores</span>
              <div  class="collection">
                {% for conten in estaciones %}
                <a class="collection-item qrElement" href="/static/img/qr/{{conten.id_estacion}}.jpeg"  download="{{conten.id_estacion}}.jpeg">{{conten.id_estacion}}</a>
                {%endfor%}
              </div>

            </div>
          </div>



      </div>
        <a class="btn waves-effect waves-light blue" href="/login"> SALIR </a>
  </div>

    </div>
  </div>
</div>
{% endblock %}
