{% extends 'base.html' %}
{% block content %}
.row
  .col.s12.m8
    .card
      .card-content
        %span.card-title Informes


      .card-action

  .col.s12.m4
    .card
      %form
        .card-content
          %span.card-title Nuevo Contenedor
          %input{type:"Hidden", name:"csrf_token", value:"{{csrf_token()}}"}
          %label{for:"id_content"} ID
          %input.validate{placeholder:"Id Contenedor", id:"id_content",type:"text", name:"id"}
        .card-action
          %input.btn.waves-effect.waves-light{type:"submit",id:"crear_contenedor", value:"CREAR"}

{% endblock %}
