!!!5
%html{lang:'es'}
  %head
    %meta{charset:'UTF-8'}
    %link{href:"https://fonts.googleapis.com/icon?family=Material+Icons", rel:"stylesheet"}
    %link{type:"text/css", rel:"stylesheet", href:"{{ url_for('static', filename = 'css/materialize.min.css') }}",  media:"screen,projection"}
    %link{type:"text/css", rel:"stylesheet", href:"{{ url_for('static', filename = 'css/main.css') }}",  media:"screen,projection"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
  %body
    %nav
      .nav-wrapper.blue.darken-1
        %a.brand-logo Logo
        %ul.right.hide-on-med-and-down{id:"nav-mobile"}
          %li
            %a{href:"report"} INFORME
          %li
            %a{href:"admin"} ADMINISTRAR

    // Block Content
    {% block content %} {% endblock %}

    %footer.page-footer.blue-grey.darken-3
      .footer-copyright
        .container
          Powerd by DAIELCHOM

  %script{type:"text/javascript", src:"https://code.jquery.com/jquery-3.2.1.min.js"}
  %script{type:"text/javascript", src:"js/materialize.min.js"}
